html {
    height: 100%;
}

body {
    background-color: #222;
    padding: 0;
    margin: 0;
    color: #8e8;
    display: flex; height: 100%; flex-direction: column;
}
a.action {
    color: #5BF;
}
a.action:hover {
    color: #55B;
}
div.game_title {
  font-weight: bold;
  font-size: 150%;
  font-family: monospace;
}

div.location_heading {
  font-size: 140%;
  font-family: monospace;
}

#main-window {
    /*    width: 680px;*/
    position: relative;
    margin: 0;
    font-family: monospace;
    font-size: 12pt;
    line-height: 15pt;
    padding-left: 1em; padding-right: 1em;
    flex: 1; overflow-y: scroll;
}
#main p {
    margin-block-start: 1.5em;
    margin-block-end: 1.5em;
}

#output {
    max-width: 640px;
    padding-top: 5px;
}

/* Media query for phone-sized screens. Give enough space to clear the map button and still see the intro. */
@media only screen and (max-width: 890px) {
  #output {
    padding-top: 32px;
  }
}

#output-end {
    height: 0.5em;
}

#teptour-input {
    font-family: monospace;
    font-size: 12pt;

    background-color: #222;
/*    position: fixed;
    left: 0; right: 0; bottom: 0;*/
    border-top: 1px solid #8e8;
    position: relative;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
}

#user_response {
    white-space: nowrap;
    padding-left: 1em;
    padding-top: 0.8em;
    padding-bottom: 0.8em;
    overflow: hidden;

    flex: 1 1 300px;
    min-width: 300px;
}
#menu {
    padding-bottom: 0.8em;
    padding-left: 1em;
    padding-right: 1em;

    flex: 0 1 auto;
}
#menu-items {

}

.desc_img {
    display: block;
    padding: 0 1em 0.25em 0px;
    max-width: 100%;
}
.desc_img img {
    max-width: 100%;
}
.desc_img_left {
    display: inline-block;
    float: left;
    padding: 4px 1em 4px 0;
    max-width: 60%;
}
.desc_img_left img {
    max-width: 100%;
}
a .tobii-zoom__icon {
    opacity: 0;
    transition: opacity 0.3s ease;
}
a:hover .tobii-zoom__icon {
    opacity: 1;
}

/* Media query for phone-sized screens */
@media only screen and (max-width: 400px) {
  .desc_img_left {
    float: none;
    display: block;
    padding: 4px 1em 4px 0;
    max-width: 100%;
  }
}

#command {
    font-family: monospace;
    font-size: 12pt;
    background-color: #222;
    color: #8e8;
/*    max-width: 700px;*/
}

#navigation {
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1;
    /* Ideally the scroll would only be for map-contents rather than the whole navigation */
    max-height: 100%;
    overflow: scroll;
}

#map {
    background-color: #222222ee;
    color: #B366FF;
    font-family: monospace;
    font-size: 12pt;
    font-weight: bold;
    padding: 5px;
    border-radius: 3px;
}
#map summary {
    padding: 5px 8px;
/*    background: #222;*/
    color: #B366FF;
    border: 3px solid #B366FF;
    border-radius: 3px;
    cursor: pointer;
    user-select: none;
}
#map summary:hover {
    background: #B366FF;
    color: #222;
}
#map-contents {
    border: 3px solid #B366FF;
    border-top: 0;
    border-radius: 3px;
    padding: 20px 5px 5px 5px;
    margin-top: -5px;
}
#map tr td.room {
  border-style: solid;
  border-width: 1px;
/*  background-color: #222;*/
  text-align: center;
  font-size: 80%;
/*  font-family: sans-serif;*/
  padding: 0;
}
#map tr td {
  vertical-align: middle;
}
#map td {
    color: #B366FF;
    border-color: #B366FF;
}
#map td.maphead {
  color: #B366FF;
}
#map tr.mapspacer {
  height: 1em;
}
#map a, #map a:visited {
  display: block;
  margin: 0;
  padding: 4px 4px 4px 4px;
  color: #B366FF;
  text-decoration: none;
}
#map a:hover, #map td.visiting a {
  color: #C4F;
  background-color: #B366FF;
  color: #222;
}

.contact-us {
    margin-top: 16px;
}
.contact-us a {
    display: block;
    text-align: center;
    font-size: 10pt;
/*    background: #222;*/
    color: #B366FF;
    padding: 3px 5px;
/*    border: 1px solid #B366FF;*/
    border-radius: 3px;
}
#map .contact-us a, #map .contact-us a:visited {
    text-decoration: underline;
}
#map .contact-us a:hover {
    background: #B366FF;
    color: #222;
}

#irving {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
}
#irving-content-holder {
    max-width: 500px;
    background-color: #222;
    border-radius: 3px;
    padding: 5px;
    margin: 1em;
    margin-left: auto;
    margin-right: auto;
}
#irving-content {
    font-family: monospace;
    font-size: 12pt;
    color: #8e8;
    padding: 1em;
    border: 1px solid #8e8;
    border-radius: 3px;
}
#irving-list {
    max-height: 400px;
    overflow: auto;
    margin-bottom: 0.5em;
}

#irving-content h2 {
    margin-top: 0;
    font-size: 130%;
}

#irving-content ul {
    margin-bottom: 0.3em;
}

button {
    background-color: #8e8;
    border: 1px solid #8e8;
    font-family: monospace;
    font-size: 12pt;
    color: #222;
    padding: 5px 8px;
    text-decoration: none;
}
button:hover {
    background-color: #141;
    color: #8e8;
}
